# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
web.config

# Linux
.directory
*~

# npm
/node_modules
*.log
*.gz

# bower
client/bower_components

# Compiled output
site.css
site.css.map
site.min.css

# Testing
coverage/
npmLicenses.json
bowerLicenses.json

# IDEs
.idea/
nbproject/
*.sublime-project
*.sublime-workspace

/config.js
/mongoConnectionString.json
# /client/css/site.css
# /client/css/site.css.map
# /client/css/site.min.css
/server/sessions/*.json
/server/iisnode
dist

*.min.*

# Config files - put safe info in config.json.  The following files are for sensitive info, so shouldn't be put in repo.
dev.json
staging.json
production.json
.vscode/launch.json
server/ssl/server.key
server/ssl/server.cert
