<header>
  <div class="container-fluid">
    <h1>
      <img alt="NodeJS" src="/img/nodejs.png" class="nodejs-small" />
      NodeJS Template Application
    </h1>
    <p>
      Boilerplate Application for NodeJS
    </p>
  </div>
</header>